footer.footer--content
    div(class="customer__account")
        a(href="/", class="webpage__name") shop with me
        a(href="/myaccount", class="account__head") My Customer Account
    div(class="helper--onCustomer__concern")
        div(class="concern--main__title")
            h2 We are here for you
        div(class="concern__section")
            div(class="footer__shop footer__align")
                h3(class="title__shop") Shop
                a.contact(href="/contact") Contact
                a(href="/aboutus", class="shipping--costs__delivery") About Us
                a.return(href="#") Return
                a.brands(href="/search?page=1") Our Brands
                a(href="#", class="all_offers") Best Offers
            div(class="footer--social__media footer__align")
                h3(class="title__shop") Social Media
                a.contact(href="https://www.instagram.com/") Instagram
                a.contact(href="https://www.facebook.com/profile.php?id=100093675294909&is_tour_dismissed=true") Facebook
                a(href="https://www.youtube.com", class="shipping--costs__delivery") Youtube
                a(href="https://twitter.com/home", class="shipping--costs__delivery") Twitter
            div(class="footer__legal footer__align")
                h3(class="title__shop") Legal
                a.contact(href="/policy") Policy
                a.contact(href="#") Terms &amp; Conditions
                a(href="/contact", class="shipping--costs__delivery") ShopWithMe Help Center