doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title shopWithMe | #{title}
        link(rel="icon", type="image/gif", href="/img/webpage/fav-icon.png")
        link(rel="stylesheet", href="/css/header.css")
        link(rel="stylesheet", href="/css/homepage-content.css")
        link(rel="stylesheet", href="/css/search.css")
        link(rel="stylesheet", href="/css/details.css")
        link(rel="stylesheet", href="/css/footer.css")
        link(rel="stylesheet", href="/css/login.css")
        link(rel="stylesheet", href="/css/user.css")
        link(rel="stylesheet", href="/css/signUp.css")
        link(rel="stylesheet", href="/css/error.css")
        link(rel="stylesheet", href="/css/alert.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

    body
        //- header part
        include _header

        //- main page content part
        block content
            h1 ww

        //- footer part
        include _footer
        //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js')
        //- script(src='/js/login.js')
        script(src='/js/bundle.js')