extends base

block content
    main
        div(id="main--container__generalpara")
            h2 Contact
            h4 Hi This  is Md Waquas.
            h4 This is basically an e-commerce website which contains a lot more data for all types of cloth items.
            h4 If you face any issue while using the website then you can freely contact us
            h4 email:- waquasmd05@gmail.com
            h4 contact:- +919934248999