extends base

block content
    main
        div(id="main--container__generalpara")
            h2 Policy
            h4 We value the trust you place in us and recognize the importance of secure transactions and information privacy. This Privacy Policy describes how shopWithMe Limited and its affiliates collect, use, share or otherwise process your personal information through shopWithMe website www.shopwithme.com, its mobile application, and m-site (hereinafter referred to as the “Platform”).
            h4 Website privacy policies outline the ways we collect, use, share, and sell personal data from the consumers. If this website collects personal data, you’ll most likely need to have a privacy statement and that should be on the basis of trust.
            h4 When you use our Platform, we collect and store your information which is provided by you from time to time. In general, you can browse the Platform without telling us who you are or revealing any personal information about yourself. Once you give us your personal information, you are not anonymous to us. Where possible, we indicate which fields are required and which fields are optional. You always have the option to not provide information by choosing not to use a particular service, product or feature on the Platform.