extends base

block content
    main
        div(id="main--container__generalpara")
            h2 About Us
            h4 We are energetic about discovering things that transcend the commonplace; that we think will get your attention and capture it. Internet looking for men women boys and also girls accompanies the guarantee of acclaimed names without the substantial sticker prices.
            h4 Our group of purchasers works continually from our workplaces in local test market. There is additionally a restrictive and private ‘ShopWithMe’ accumulation in store made by architects in India which dispatches another pattern each month.
            h4 With more than 20 new items propelling every week, ‘ShopWithMe’ gives you an energizing accumulation to look over each time without your sign in. ‘ShopWithMe’ is likewise the main USn web-based shopping website to team up on restrictive container accumulations with surely understood names in the worldwide form.
            h4 Our key joint efforts in the past incorporate those with eminent British planners like Reynold Doss, Maryl John, USn identities who have worked together with ‘ShopWithMe’ incorporate prominent planner couple ‘famous celebrity couple’  ‘super model’ and then some.
            h4 With the assistance of simple route, catwalk recordings and 360° item sees, online design shopping at ‘ShopWithMe’ is a cakewalk. The evidently ideal western wear for ladies exhibited here will present to you a definitive altar of faultless form staples. Through our period characterizing women’s attire, web based looking for ladies at ‘ShopWithMe’ would motivate you some basic styles to possess.
            h4 For men as well, there is no lack of identity changing design in a colossal assortment that may be hard to discover in a disconnected store. Keep in mind to check our best moving design brands like ‘ShopWithMe’ , New Look, Spring Break, Forever New, J.D.Y, and some more.
            h4 Investigate our invigorating and rousing style content in the Hotlist. It will be your day-by-day channel of form highlights, news and styling tips. With our week after week bulletin, we furnish you with a fix on our new items and what’s inclining. A web-based shopping event, for example, you has never seen allures you.
            h4 On the off chance that form like this drenches you each time you shop, there’ll be no mischief in turning into a fiend.
