extends base

mixin navItem(link, text, active)
    li
        a(href=`${link}`)
            span= text

block content
    main
        div(id="main--container__user")
            nav(class="user--view__menu")
                div(class="normal--user__menu")
                    ul
                        +navItem("/myaccount", 'settings')
                        +navItem("#", 'bookings')
                        +navItem("#", 'my reviews')
                        +navItem("#", 'billing')

                div(class="admin__menu")
                    h3 Admin
                    ul
                        +navItem("#", 'manage product')
                        +navItem("#", 'manage users')
                        +navItem("#", 'manage reviews')

            div(class="user__form")
                div(class="user--nameEmail__settings")
                    h2 YOUR ACCOUNT SETTINGS
                    form(class="form--user__data", action="#")
                        div(class="user--form__group")
                            label(for="name", class="user--form__label") Name
                            input#name(type="text", class="user--form__label", value=`${user.name}`)
                        div(class="user--form__group")
                            label(for="email", class="user--form__label") Email Address
                            input#email(type="email", class="user--form__label", value=`${user.email}`)
                        div(class="user--form__group")
                            label(for="name", class="user--form__label") Photo
                            input#photo(type="file", accept='image/*', class="user--form__label", name="photo")
                        div(class="user--form__button")
                            button.form--user__dataButton Save Settings

                div(class="user--password__settings")
                    h2 YOUR PASSWORD SETTINGS
                    form(class="form--user__password", action="#")
                        div(class="user--CurrentPassword__settings")
                            label(for="password-current", class="password__current") Current password
                            input#password-current(type="password", class="password__current", placeholder="*****")
                        div(class="user--Password__settings")
                            label.password(for="password") Password
                            input#password(type="password", class="password__current", placeholder="*****")
                        div(class="user--ConfirmPassword__settings")
                            label(for="password-confirm", class="confirm__current") Confirm password
                            input#password-confirm(type="password", class="confirm__current", placeholder="*****")
                        div(class="user--form__button")
                            button.form--user__passwordButton Save Password