.alert {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1.6rem 1rem;
  width: 600px;
  transition: all 5s;
  }
  .alert--success {
    background-color: #20bf6b;
  }
  .alert--error {
    background-color: #eb4d4b;
  }