#main--container__generalpara {
    min-height: 50vh;
    width: 900px;
    margin: auto;
    border: 1px black solid;
    border-radius: 10px;
    background-image: linear-gradient(to right, #7dd56f, #28b487);
}

#main--container__generalpara h2 {
    margin: 15px 15px;
    color: brown;
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

#main--container__generalpara h4 {
    margin: 25px 15px;
}
