doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title shop with me
        link(rel="stylesheet", href="/css/header.css")
        link(rel="stylesheet", href="/css/homepage-content.css")
        link(rel="stylesheet", href="/css/footer.css")
        link(rel="stylesheet", href="/css/login.css")
        link(rel="stylesheet", href="/css/user.css")
        link(rel="stylesheet", href="/css/signUp.css")
    body
        //- header part
        include _header

        //- main page content part
        block content

        //- footer part
        include _footer