main
    div(id="main--container__booking")
        h2 Your Booking History
        .booking
            div(class="all--Products__info")
                div(class="booked--product__details")
                    div(class="image--for__product")
                        img(src="https://st.mngbcn.com/rcs/pics/static/T4/fotos/S20/47075960_TN.jpg?ts=1675695796791", alt="#")
                    div(class="name--for__product text__align")
                        h4 Carrot-fit jeans
                    div(class="price--for__product text__align")
                        p Price: Rs 1110
                    div(class="quantity--for__product text__align")
                        p Qty: 2
                    div(class="totalAmount--for__product text__align")
                        p Total: Rs 2220
            div(class="all--Products__info")
                div(class="booked--product__details")
                    div(class="image--for__product")
                        img(src="https://st.mngbcn.com/rcs/pics/static/T4/fotos/S20/47075960_TN.jpg?ts=1675695796791", alt="#")
                    div(class="name--for__product text__align")
                        h4 Carrot-fit jeans
                    div(class="price--for__product text__align")
                        p Price: Rs 1110
                    div(class="quantity--for__product text__align")
                        p Qty: 2
                    div(class="totalAmount--for__product text__align")
                        p Total: Rs 2220
            div(class="all--Products__info")
                div(class="booked--product__details")
                    div(class="image--for__product")
                        img(src="https://st.mngbcn.com/rcs/pics/static/T4/fotos/S20/47075960_TN.jpg?ts=1675695796791", alt="#")
                    div(class="name--for__product text__align")
                        h4 Carrot-fit jeans
                    div(class="price--for__product text__align")
                        p Price: Rs 1110
                    div(class="quantity--for__product text__align")
                        p Qty: 2
                    div(class="totalAmount--for__product text__align")
                        p Total: Rs 2220
            div(class="all--Products__info")
                div(class="booked--product__details")
                    div(class="image--for__product")
                        img(src="https://st.mngbcn.com/rcs/pics/static/T4/fotos/S20/47075960_TN.jpg?ts=1675695796791", alt="#")
                    div(class="name--for__product text__align")
                        h4 Carrot-fit jeans
                    div(class="price--for__product text__align")
                        p Price: Rs 1110
                    div(class="quantity--for__product text__align")
                        p Qty: 2
                    div(class="totalAmount--for__product text__align")
                        p Total: Rs 2220
            .paid
                p PAID