main
    div(id="main--container__details")
        div(class="detials--main__container")
            div(class="main__image")
                img(src="https://st.mngbcn.com/rcs/pics/static/T5/fotos/S20/57061174_02.jpg?ts=1684251308073", alt=)
            div(class="other--main__content")
                div(class="detail--product__name")
                    span Printed cotton shirt full sleves
                div(class="detail--product__brand")
                    span Brand:
                        p shopWithMe
                div(class="detail--product__price") Rs: 4,790
                div(class="detail--product__offer")
                    span(class="off__perc") 15% off
                    | on
                    span(class="strike__price") Rs: 4,990
                div(class="detail--product__availbillity")
                    span In Stock
                div(class="detail--product__addToCard")
                    a(href="#")
                        | add to cart
        div(class="description__container container__align")
            h2(class="description__heading content__heading") Description
            p(class="desc__para")
                | With this cotton garment you support our investment in the mission of Better Cotton. This fabric is
                | a mass balance that replaces or blends Better Cotton with conventional cotton, so it may not contain
                | Better Cotton. Partner farmers receive ongoing support and training.
            ul(class="desc--in__bullets")
                li
                    span 100% cotton fabric
                li
                    span Straight design
                li
                    span Long design
                li
                    span Printed design
                li
                    span Shirt-style collar
                li
                    span Long buttoned sleeve
                li
                    span Button fastening on the front section
        div(class="conposition__container container__align")
            h2(class="comp__heading content__heading") Composition and care guidelines
            span(class="composition__content") Composition: 100% cotton
        div(class="conposition__container container__align")
            h2(class="comp__heading content__heading") Washing Care
            ul(class="desc--in__bullets styling_washing--care")
                li
                    span MACHINE WASHING MAX 30°C / 85ºF
                li
                    span DO NOT BLEACH
                li
                    span IRONING MAX 110°C / 230ºF
                li
                    span DRY CLEANING PERCHLOROETHYLENE
                li
                    span DO NOT TUMBLE DRY
        h2(class="review--section__heading") Customer Reviews
        div(class="adding--review__form")
            p(class="adding--reviewbox__heading") Add your review here
            img(src="./img/webpage/right-arrow.png", alt=, width="100px", height="40px")
            form(action="#", id="adding__review")
                div(class="review__title")
                    label(for="review--top__title") Review Title
                    input(type="text", id="review--top__title", placeholder="place your review title")
                div(class="review__description")
                    textarea(type="text", id="review__description", placeholder="Add your review", rows="4")
                div(class="submit--review__button")
                    button Add Your Review
        div(class="all--product__reviews")
            .review--card
                img(class="double__quote", src="./img/webpage/review_doubleQuote.png", alt=, width="25")
                div(class="user__details")
                    img(class="user__photo", src="./img/users/user-1.jpg", alt="Jonas", width="50")
                    h3 Jonas schedtmann
                h4(class="review__title") Loved this product
                p(class="review__description")
                    | This is the coolest product and also this is the cheap and best
                    | product i have ever seen this Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    | Accusamus, velit quas? Numquam qui.
            .review--card
                img(class="double__quote", src="./img/webpage/review_doubleQuote.png", alt=, width="25")
                div(class="user__details")
                    img(class="user__photo", src="./img/users/user-1.jpg", alt="Jonas", width="50")
                    h3 Jonas schedtmann
                h4(class="review__title") Loved this product
                p(class="review__description")
                    | This is the coolest product and also this is the cheap and best
                    | product i have ever seen this Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    | Accusamus, velit quas? Numquam qui.
            .review--card
                img(class="double__quote", src="./img/webpage/review_doubleQuote.png", alt=, width="25")
                div(class="user__details")
                    img(class="user__photo", src="./img/users/user-1.jpg", alt="Jonas", width="50")
                    h3 Jonas schedtmann
                h4(class="review__title") Loved this product
                p(class="review__description")
                    | This is the coolest product and also this is the cheap and best
                    | product i have ever seen this Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    | Accusamus, velit quas? Numquam qui.
            .review--card
                img(class="double__quote", src="./img/webpage/review_doubleQuote.png", alt=, width="25")
                div(class="user__details")
                    img(class="user__photo", src="./img/users/user-1.jpg", alt="Jonas", width="50")
                    h3 Jonas schedtmann
                h4(class="review__title") Loved this product
                p(class="review__description")
                    | This is the coolest product and also this is the cheap and best
                    | product i have ever seen this Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    | Accusamus, velit quas? Numquam qui.
            .review--card
                img(class="double__quote", src="./img/webpage/review_doubleQuote.png", alt=, width="25")
                div(class="user__details")
                    img(class="user__photo", src="./img/users/user-1.jpg", alt="Jonas", width="50")
                    h3 Jonas schedtmann
                h4(class="review__title") Loved this product
                p(class="review__description")
                    | This is the coolest product and also this is the cheap and best
                    | product i have ever seen this Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    | Accusamus, velit quas? Numquam qui.
            .review--card
                img(class="double__quote", src="./img/webpage/review_doubleQuote.png", alt=, width="25")
                div(class="user__details")
                    img(class="user__photo", src="./img/users/user-1.jpg", alt="Jonas", width="50")
                    h3 Jonas schedtmann
                h4(class="review__title") Loved this product
                p(class="review__description")
                    | This is the coolest product and also this is met, consectetur
                    | adipisicing elit.
                    | Accusamus, velit quas? Numquam qui.
            .review--card
                img(class="double__quote", src="./img/webpage/review_doubleQuote.png", alt=, width="25")
                div(class="user__details")
                    img(class="user__photo", src="./img/users/user-1.jpg", alt="Jonas", width="50")
                    h3 Jonas schedtmann
                h4(class="review__title") Loved this product
                p(class="review__description")
                    | This is the coolest product and also this is the cheap and best
                    | product i have ever seen this Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    | Accusamus, velit quas? Numquam qui.
            .review--card
                img(class="double__quote", src="./img/webpage/review_doubleQuote.png", alt=, width="25")
                div(class="user__details")
                    img(class="user__photo", src="./img/users/user-1.jpg", alt="Jonas", width="50")
                    h3 Jonas schedtmann
                h4(class="review__title") Loved this product
                p(class="review__description")
                    | This is the coolest product and also this is the cheap and best
                    | product i have ever seen this Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    | Accusamus, velit quas? Numquam qui.
            .review--card
                img(class="double__quote", src="./img/webpage/review_doubleQuote.png", alt=, width="25")
                div(class="user__details")
                    img(class="user__photo", src="./img/users/user-1.jpg", alt="Jonas", width="50")
                    h3 Jonas schedtmann
                h4(class="review__title") Loved this product
                p(class="review__description") This velit quas? Numquam qui.
            .review--card
                img(class="double__quote", src="./img/webpage/review_doubleQuote.png", alt=, width="25")
                div(class="user__details")
                    img(class="user__photo", src="./img/users/user-1.jpg", alt="Jonas", width="50")
                    h3 Jonas schedtmann
                h4(class="review__title") Loved this product
                p(class="review__description")
                    | This is the coolest product and also this is the cheap and best
                    | product i have ever seen this Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    | Accusamus, velit quas? Numquam qui.