main
    div(class="error__container")
      div(class="error__title")
        h2(class="error__heading") Uh oh! Something went wrong!!
        h2(class="error__emoji") ❌
      div(class="error__message")
        p No results found, please search again.