extends homepage

block content
    main
        #main--container
            div(class="front__image")
                img(src="./img/webpage/front_first_image.jpg", alt="front image", width="900px", height="450px")
            div(class="container--products__infinite")
                ul(class="first--section__infineMoving")
                    li
                        a(href="#")
                            .product--card
                                img(src="https://st.mngbcn.com/rcs/pics/static/T4/fotos/S20/47000263_01.jpg?ts=1669793582953", alt="first product")
                                h5.gender--category For Men1
                                h4(class="product--card__title") This is the Coolest
                    li
                        a(href="#")
                            .product--card
                                img(src="https://st.mngbcn.com/rcs/pics/static/T4/fotos/S20/47000263_01.jpg?ts=1669793582953", alt="first product")
                                h5.gender--category For Men2
                                h4(class="product--card__title") This is the Coolest
                    li
                        a(href="#")
                            .product--card
                                img(src="https://st.mngbcn.com/rcs/pics/static/T4/fotos/S20/47000263_01.jpg?ts=1669793582953", alt="first product")
                                h5.gender--category For Men3
                                h4(class="product--card__title") This is the Coolest
                    li
                        a(href="#")
                            .product--card
                                img(src="https://st.mngbcn.com/rcs/pics/static/T4/fotos/S20/47000263_01.jpg?ts=1669793582953", alt="first product")
                                h5.gender--category For Men4
                                h4(class="product--card__title") This is the Coolest
                    li
                        a(href="#")
                            .product--card
                                img(src="https://st.mngbcn.com/rcs/pics/static/T4/fotos/S20/47000263_01.jpg?ts=1669793582953", alt="first product")
                                h5.gender--category For Men5
                                h4(class="product--card__title") This is the Coolest
                    li
                        a(href="#")
                            .product--card
                                img(src="https://st.mngbcn.com/rcs/pics/static/T4/fotos/S20/47000263_01.jpg?ts=1669793582953", alt="first product")
                                h5.gender--category For Men6
                                h4(class="product--card__title") This is the Coolest
                    li
                        a(href="#")
                            .product--card
                                img(src="https://st.mngbcn.com/rcs/pics/static/T4/fotos/S20/47000263_01.jpg?ts=1669793582953", alt="first product")
                                h5.gender--category For Men7
                                h4(class="product--card__title") This is the Coolest
                    li
                        a(href="#")
                            .product--card
                                img(src="https://st.mngbcn.com/rcs/pics/static/T4/fotos/S20/47000263_01.jpg?ts=1669793582953", alt="first product")
                                h5.gender--category For Men8
                                h4(class="product--card__title") This is the Coolest
                    li
                        a(href="#")
                            .product--card
                                img(src="https://st.mngbcn.com/rcs/pics/static/T4/fotos/S20/47000263_01.jpg?ts=1669793582953", alt="first product")
                                h5.gender--category For Men9
                                h4(class="product--card__title") This is the Coolest
                    li
                        a(href="#")
                            .product--card
                                img(src="https://st.mngbcn.com/rcs/pics/static/T4/fotos/S20/47000263_01.jpg?ts=1669793582953", alt="first product")
                                h5.gender--category For Men10
                                h4(class="product--card__title") This is the Coolest
                    li
                        a(href="#")
                            .product--card
                                img(src="https://st.mngbcn.com/rcs/pics/static/T4/fotos/S20/47000263_01.jpg?ts=1669793582953", alt="first product")
                                h5.gender--category For Men11
                                h4(class="product--card__title") This is the Coolest
                    li
                        a(href="#")
                            .product--card
                                img(src="https://st.mngbcn.com/rcs/pics/static/T4/fotos/S20/47000263_01.jpg?ts=1669793582953", alt="first product")
                                h5.gender--category For Men12
                                h4(class="product--card__title") This is the Coolest
                    li
                        a(href="#")
                            .product--card
                                img(src="https://st.mngbcn.com/rcs/pics/static/T4/fotos/S20/47000263_01.jpg?ts=1669793582953", alt="first product")
                                h5.gender--category For Men13
                                h4(class="product--card__title") This is the Coolest
                    li
                        a(href="#")
                            .product--card
                                img(src="https://st.mngbcn.com/rcs/pics/static/T4/fotos/S20/47000263_01.jpg?ts=1669793582953", alt="first product")
                                h5.gender--category For Men14
                                h4(class="product--card__title") This is the Coolest
            div(class="container--products__interestedIn")
                div(class="interested--product__title")
                    h2 Today&apos;s Deal
                ul(class="second--section__todayDeal")
                    li
                        a(href="#")
                            .product--card
                                img(src="https://st.mngbcn.com/rcs/pics/static/T4/fotos/S20/47053257_TG.jpg?ts=1669793582953", alt="first product", width="220px", height="210px")
                                div(class="todays--deal__withOff")
                                    span.discount 45% off
                                    span(class="deal--of__day") Deal of 1
                                h4(class="product--card__title") The new item in stock
                    li
                        a(href="#")
                            .product--card
                                img(src="https://st.mngbcn.com/rcs/pics/static/T4/fotos/S20/47053257_TG.jpg?ts=1669793582953", alt="first product", width="220px", height="210px")
                                div(class="todays--deal__withOff")
                                    span.discount 45% off
                                    span(class="deal--of__day") Deal of 2
                                h4(class="product--card__title") The new item in stock
                    li
                        a(href="#")
                            .product--card
                                img(src="https://st.mngbcn.com/rcs/pics/static/T4/fotos/S20/47053257_TG.jpg?ts=1669793582953", alt="first product", width="220px", height="210px")
                                div(class="todays--deal__withOff")
                                    span.discount 45% off
                                    span(class="deal--of__day") Deal of 3
                                h4(class="product--card__title") The new item in stock
                    li
                        a(href="#")
                            .product--card
                                img(src="https://st.mngbcn.com/rcs/pics/static/T4/fotos/S20/47053257_TG.jpg?ts=1669793582953", alt="first product", width="220px", height="210px")
                                div(class="todays--deal__withOff")
                                    span.discount 45% off
                                    span(class="deal--of__day") Deal of 4
                                h4(class="product--card__title") The new item in stock
                    li
                        a(href="#")
                            .product--card
                                img(src="https://st.mngbcn.com/rcs/pics/static/T4/fotos/S20/47053257_TG.jpg?ts=1669793582953", alt="first product", width="220px", height="210px")
                                div(class="todays--deal__withOff")
                                    span.discount 45% off
                                    span(class="deal--of__day") Deal of 5
                                h4(class="product--card__title") The new item in stock
                    li
                        a(href="#")
                            .product--card
                                img(src="https://st.mngbcn.com/rcs/pics/static/T4/fotos/S20/47053257_TG.jpg?ts=1669793582953", alt="first product", width="220px", height="210px")
                                div(class="todays--deal__withOff")
                                    span.discount 45% off
                                    span(class="deal--of__day") Deal of 6
                                h4(class="product--card__title") The new item in stock
                    li
                        a(href="#")
                            .product--card
                                img(src="https://st.mngbcn.com/rcs/pics/static/T4/fotos/S20/47053257_TG.jpg?ts=1669793582953", alt="first product", width="220px", height="210px")
                                div(class="todays--deal__withOff")
                                    span.discount 45% off
                                    span(class="deal--of__day") Deal of 6
                                h4(class="product--card__title") The new item in stock
                    li
                        a(href="#")
                            .product--card
                                img(src="https://st.mngbcn.com/rcs/pics/static/T4/fotos/S20/47053257_TG.jpg?ts=1669793582953", alt="first product", width="220px", height="210px")
                                div(class="todays--deal__withOff")
                                    span.discount 45% off
                                    span(class="deal--of__day") Deal of 6
                                h4(class="product--card__title") The new item in stock