main
    div(id="main--container__login")
        div(class="login__form")
            h2 LOG INTO YOUR ACCOUNT
            form(action="#")
                div(class="form__group")
                    label(for="email", class="form__label") Email address
                    input#email(type="email", class="form__label", placeholder="your-email@gmail.com")
                div(class="form__group")
                    label(for="password", class="form__label") Password
                    input#password(type="password", class="form__label", placeholder="***********")
                div(class="form__button")
                    button Login
