main
    #main--container
        div(class="left--pannel__categories pannel__height")
            div(class="category__head")
                h3 All Category
            div(class="all__category")
                div(class="category__1 category__align")
                    a(href="#") Men
                    p (
                        span 12
                        | )
                div(class="category__2 category__align")
                    a(href="#") Women
                    p (
                        span 17
                        | )
                div(class="category__3 category__align")
                    a(href="#") Boys
                    p (
                        span 23
                        | )
                div(class="category__4 category__align")
                    a(href="#") Girls
                    p (
                        span 42
                        | )
                div(class="category__5 category__align")
                    a(href="#") Infant
                    p (
                        span 72
                        | )
        div(class="search__results pannel__height")
            div(class="results__sorting")
                a(href="#")
                    span Click Here On Price Sorting
            div(class="results__counts")
                p Total Products found:
                    span 11
                    p
                        div(class="results__container")
                            .product-listing
                                ul
                                    li
                                        a(href="#", class="href--style__link")
                                            .product--results
                                                img(src="https://st.mngbcn.com/rcs/pics/static/T4/fotos/S20/47053257_TG.jpg?ts=1669793582953", alt="first product", width="220px", height="210px")
                                                div(class="product__details")
                                                    div(class="product__name")
                                                        h2 Slim-fit jeans with good
                                                    div(class="product__price")
                                                        span Rs. 345.00
                                                    div(class="product__availability")
                                                        | In Stock
                                    li
                                        a(href="#", class="href--style__link")
                                            .product--results
                                                img(src="https://st.mngbcn.com/rcs/pics/static/T4/fotos/S20/47053257_TG.jpg?ts=1669793582953", alt="first product", width="220px", height="210px")
                                                div(class="product__details")
                                                    div(class="product__name")
                                                        h2 Slim-fit jeans with good
                                                    div(class="product__price")
                                                        span Rs. 345.00
                                                    div(class="product__availability")
                                                        | In Stock
                                    li
                                        a(href="#", class="href--style__link")
                                            .product--results
                                                img(src="https://st.mngbcn.com/rcs/pics/static/T4/fotos/S20/47053257_TG.jpg?ts=1669793582953", alt="first product", width="220px", height="210px")
                                                div(class="product__details")
                                                    div(class="product__name")
                                                        h2 Slim-fit jeans with good
                                                    div(class="product__price")
                                                        span Rs. 345.00
                                                    div(class="product__availability")
                                                        | In Stock
                                    li
                                        a(href="#", class="href--style__link")
                                            .product--results
                                                img(src="https://st.mngbcn.com/rcs/pics/static/T4/fotos/S20/47053257_TG.jpg?ts=1669793582953", alt="first product", width="220px", height="210px")
                                                div(class="product__details")
                                                    div(class="product__name")
                                                        h2 Slim-fit jeans with good
                                                    div(class="product__price")
                                                        span Rs. 345.00
                                                    div(class="product__availability")
                                                        | In Stock
                                    li
                                        a(href="#", class="href--style__link")
                                            .product--results
                                                img(src="https://st.mngbcn.com/rcs/pics/static/T4/fotos/S20/47053257_TG.jpg?ts=1669793582953", alt="first product", width="220px", height="210px")
                                                div(class="product__details")
                                                    div(class="product__name")
                                                        h2 Slim-fit jeans with good
                                                    div(class="product__price")
                                                        span Rs. 345.00
                                                    div(class="product__availability")
                                                        | In Stock
                                    li
                                        a(href="#", class="href--style__link")
                                            .product--results
                                                img(src="https://st.mngbcn.com/rcs/pics/static/T4/fotos/S20/47053257_TG.jpg?ts=1669793582953", alt="first product", width="220px", height="210px")
                                                div(class="product__details")
                                                    div(class="product__name")
                                                        h2 Slim-fit jeans with good
                                                    div(class="product__price")
                                                        span Rs. 345.00
                                                    div(class="product__availability")
                                                        | In Stock
                                    li
                                        a(href="#", class="href--style__link")
                                            .product--results
                                                img(src="https://st.mngbcn.com/rcs/pics/static/T4/fotos/S20/47053257_TG.jpg?ts=1669793582953", alt="first product", width="220px", height="210px")
                                                div(class="product__details")
                                                    div(class="product__name")
                                                        h2 Slim-fit jeans with good
                                                    div(class="product__price")
                                                        span Rs. 345.00
                                                    div(class="product__availability")
                                                        | In Stock
                                    li
                                        a(href="#", class="href--style__link")
                                            .product--results
                                                img(src="https://st.mngbcn.com/rcs/pics/static/T4/fotos/S20/47053257_TG.jpg?ts=1669793582953", alt="first product", width="220px", height="210px")
                                                div(class="product__details")
                                                    div(class="product__name")
                                                        h2 Slim-fit jeans with good
                                                    div(class="product__price")
                                                        span Rs. 345.00
                                                    div(class="product__availability")
                                                        | In Stock
                                    li
                                        a(href="#", class="href--style__link")
                                            .product--results
                                                img(src="https://st.mngbcn.com/rcs/pics/static/T4/fotos/S20/47053257_TG.jpg?ts=1669793582953", alt="first product", width="220px", height="210px")
                                                div(class="product__details")
                                                    div(class="product__name")
                                                        h2 Slim-fit jeans with good
                                                    div(class="product__price")
                                                        span Rs. 345.00
                                                    div(class="product__availability")
                                                        | In Stock
                                    li
                                        a(href="#", class="href--style__link")
                                            .product--results
                                                img(src="https://st.mngbcn.com/rcs/pics/static/T4/fotos/S20/47053257_TG.jpg?ts=1669793582953", alt="first product", width="220px", height="210px")
                                                div(class="product__details")
                                                    div(class="product__name")
                                                        h2 Slim-fit jeans with good
                                                    div(class="product__price")
                                                        span Rs. 345.00
                                                    div(class="product__availability")
                                                        | In Stock
                                    li
                                        a(href="#", class="href--style__link")
                                            .product--results
                                                img(src="https://st.mngbcn.com/rcs/pics/static/T4/fotos/S20/47053257_TG.jpg?ts=1669793582953", alt="first product", width="220px", height="210px")
                                                div(class="product__details")
                                                    div(class="product__name")
                                                        h2 Slim-fit jeans with good
                                                    div(class="product__price")
                                                        span Rs. 345.00
                                                    div(class="product__availability")
                                                        | In Stock
                        div(class="results__pagination")
                            div(class="item--sequence__displayed")
                                p
                                    | Items:
                                    span(class="order__sequence") 1 - 10
                                    span(class="total__products") of 45
                            div(class="pagination__bar")
                                a(href="#", class="page__1 page__align") 1
                                a(href="#", class="page__2 page__align") 2
                                a(href="#", class="page__3 page__align") 3
                                a(href="#", class="page__4 page__align") 4
                                a(href="#", class="page__5 page__align") 5
                                a(href="#", class="page__5 page__align") 6
                                a(href="#", class="page__5 page__align") 7